importFrom("stats", "lm", "rnorm", "lm.wfit", "median")

import(quantreg)
import(pracma)

export(HPCA)
export(HPCA_FN)

export(IQR)
export(IQR_FN)

export(PCA)
export(PCA_FN)

export(RTS)
export(RTS_FN)